.NavBar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.left {
    display: flex;
    margin-right: auto;
}

.logout {
    margin-left:auto;
}